*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 65.5%;
    font-family: var(--font-family);
}

body{
    scroll-behavior:unset;
}
:root{
    --font-family:'Roboto', sans-serif;
    --font-size-primary: 4rem;
    --font-size-secundary: 3rem;
    --font-size-terceary: 2rem;
    --color-secundary: #ffb633;
    --color-primary: #313131;
}

.container{
    width: 100%;
    background-color: black;
}

.nav{
    display: flex;
    justify-content: center;
}

.nav-ul{
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.nav-ul__li{
    display: inline-block;
    font-size: 1.3rem;
    transition: .5s;
    border-bottom: 1px solid transparent;
}

.nav-ul__li:hover{
    border-bottom: 1px solid var(--color-secundary);
}

.nav-ul__li a{
    text-decoration: none;
    color: var(--color-secundary);
}

.nav-ul--item{
    border-bottom: 1px solid var(--color-secundary);
}

.header-article{
    height: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-article__section__div__uno{
    text-align: center;
}

.header-article__section{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-article__section p{
    margin-top: 10px;
    font-size: 1.3rem;
    letter-spacing: .5rem;
    color: #a2a1a1;
    max-width: 450px;
}

.header-article__section .section-p{
    letter-spacing: normal;
    max-width: 400px;
    font-size: 1.7rem;
}

.header-article__section h1{
    margin-top: 10px;
    font-size: var(--font-size-secundary);
    color: var(--color-secundary);
}

.header-article__section h2{
    margin-top: 10px;
    color: #a2a1a1;
    width: 100%;
    margin-bottom: 0;
    font-size: 2rem;
}

.header-article__section__div{
    margin-top: 20px;
}

.header-article__section__div a{
    text-decoration: none;
}

.header-article__section__div__button{
    width: 100px;
    height: 30px;
    border: 1px solid var(--color-secundary);
    background-color: black;
    color: var(--color-secundary);
    cursor: pointer;
}

.header-article__section__div__button:hover{
    background-color: var(--color-secundary);
    color: black;
    font-weight: bold;
}

.header-article__section__dos{
    display: none;
}

.header__aside{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.aside__figure{
    width: 30px;
    height: 30px;
}

.aside__img{
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
}

.aside__img:hover{
    transform: scale(1.5);
}

.main{
    background-color: var(--color-primary);
    width: 100%;
    padding: 50px 0;
}

.main-proyectos{
    padding: 40px 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.main-proyectos__section{
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    height: 450px;
}

.proyectos__tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 20px;
}

.skil__figure--item{
    width: 40px;
    height: 40px;
}

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .9s;
}

.face--cuatro{
    background-color: #10182e;
}

.face a{
    text-decoration: none;
}

.back{
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back--item4{
    background-image: linear-gradient(rgba(61,48,162, 0.416),rgba(255,251,115, 0.537));
}

.booton{
    width: 100px;
    height: 40px;
    background-color: var(--color-secundary);
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.booton:hover{
    background-color: black;
    border: 1px solid var(--color-secundary);
    color: var(--color-secundary);
}

.front{
    transform: perspective(600px) rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
}

.front p{
    font-size: 1.5rem;
    color: #a2a1a1;
}

.front h2{
    margin-top: 10px;
    font-size: 1.8rem;
    color: white;
}


.main-proyectos__section:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.main-proyectos__section:hover .back{
    transform: perspective(600px) rotateY(360deg);
    border-radius: 10px;
}

.main-proyectos__section__figure{
    width: 100%;
    height: 160px;
}

.main-proyectos__section__img{
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__texts{
    width: 80%;
    display: block;
    text-align: center;
}

.main__my{
    width: 100%;
    background-color: var(--color-primary);
    padding-bottom: 40px;
}

.my__container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.my__texts{
    order: 2;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
}

.my__texts p{
    margin-bottom: 10px;
}

.my__texts h2{
    margin-bottom: 20px;
    text-align: start;
    text-align: center;
}

.my__foto{
    display: flex;
    justify-content: center;
}

.my_figure{
    width: 200px;
    height: 200px;
}

.my_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main__skils{
    width: 100%;
    background-color: black;
    padding-top: 20px;
}

.header-article__section__div{
    display: none;
}

.main__skils h2{
    color: var(--color-secundary);
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    padding: 30px 0px;
}

.skils{
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 60px;
    justify-content: center;
    padding-bottom: 60px;
    text-align: center;
    max-width: 600px;
}

.skil__item{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.skil__figure{
    width: 60px;
    height: 60px;
}

.skil__item p{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.skil_img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 786px){

    .nav{
        justify-content:flex-start;
        position: absolute;
    }
    
    .nav-ul{
        margin-left: 20px;
    }

    .nav-ul__li{
        font-size: 1.5rem;
    }

    .header-article__section__dos{
        display: block;
        width: 30%;
        height: 100%;
        background-color: var(--color-secundary);
    }

    .header-article{
        height: 600px;
        height: 600px;
        display: flex;
        flex-direction: row;
    }

    .header-article__section{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-article__section__div__uno{
        width: 70%;
        text-align: start;
        margin-left: auto;
    }
    
    .header-article__section__div{
        width: 70%;
        text-align: start;
        margin-left: auto;
    }

    .header-article__section__div__button{
        margin: 0 auto;
    }

    .header-article__section h2{
        margin-top: 10px;
        color: rgb(162, 161, 161);
        width: 200px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .header-article__section h1{
        font-size: var(--font-size-primary);
    }

    .header-article__section__figure{
        width: 550px;
        height: 550px;
        position: relative;
        margin-left: -250px;
        margin-top: 50px;
    }

    .header-article__section__img{
        width: 550px;
        height: 550px;
    }

    .header-article__section__div__button{
        font-size: 1.5rem;
    }

    .header-article_front h2_section__div__uno h1{
        font-size: 5rem;
    }

    .header-article__section__div__uno p{
        font-size: 2rem;
    }

    .header__aside{
        width: 70%;
        margin-top: 40px;
        margin-left: auto;
    }

    .main__my{
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .my__container{
        width: 70%;
        flex-direction: row;
        gap: 100px;
    }

    .my_figure{
        width: 300px;
        height: 300px;
    }

    .my__texts p{
        text-align: start;
    }
    
}

@media screen and (min-width: 1366px){

    .header-article__section__div__uno{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 40px;
        line-height: 1.3;
        letter-spacing: 2px;
    }

    .header-article__section__div__uno .section-p{
        font-size: 2.3rem;
    }

    .header-article__section__div__uno h2{
        font-size: 3rem;
        width: 500px;
    }

    .header-article__section__div__uno h1{
        font-size: 5rem;
    }

    .header-article__section__div__button{
        width: 150px;
        height: 40px;
        font-size: 1.8rem;
    }

    .front p{
        font-size: 1.6rem;
    }

    .front h2{
        font-size: 2rem;
    }

    .booton{
        width: 140px;
        height: 50px;
        font-size: 1.8rem;
    }

    .my__container{
        width: 60%;
    }

    .my_figure{
        width: 400px;
        height: 400px;
    }

}

@media (min-width: 1500px){
    .main-proyectos{
        width: 80%;
    }
}